.pixelatedZoomArea {
    width: var(--magnifier-size);
    height: var(--magnifier-size);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    pointer-events: none;
    overflow: hidden;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    outline: 4px white;
    outline-style: solid;
    box-shadow: var(--picked-color) 0 0 0 10px;
}

.colorHex {
    position: absolute;
    bottom: 20%;
    display: block;
    background-color: var(--backgrounds-tint-1);
    color: var(--texts-base);
    padding: 0 4px;
    border-radius: 4px;
}

.target {
    position: absolute;
    width: 8px;
    height: 8px;
    border: 1px solid var(--backgrounds-tint-4);
}
