.pixelatedZoomArea {
    width: var(--magnifier-size);
    height: var(--magnifier-size);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    pointer-events: none;
    overflow: hidden;
    left: 0;
    top: 0;
    transform: translate(-50%, 0);
    border-radius: 50%;
    outline: 4px white;
    outline-style: solid;
    box-shadow: red 0px 0px 0 10px;
}